# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# pytest cache
.pytest_cache/

# Logs and temp files
*.log
*.tmp

# Sensitive files
secrets.yaml
*.enc
*.key
*.asc

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Ruff cache
.ruff_cache/

# GPG keys
*.gpg

# uv lock file
uv.lock

# sops config
.sops.yaml
